
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* ----------------------------------------------- */
/* REUSABLE ELEMENTS */
/* ----------------------------------------------- */

h2 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    text-align: center;
    margin: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.row {
    display: inline-block;
}

.content-column {
    max-width: 80%;
    margin: 0 auto;
}

.text-important {
    color: #BF4E22;
    font-weight: 700;
}

.box-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/263922-P4T48N-660.jpg");
    background-size: cover;
}

.header-text {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.header-text-main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.1rem;
    margin-right: -3.1rem;
}

.header-text-secondary {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
}

.header-text button {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border: solid #BF4E22;
    background-color: #BF4E22;
    color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}

.header-text button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header-text button:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn--animated {
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards; /*it automatically applies styles of 0% before animation starts*/
}

.header-text button:focus {
    outline: 0;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 3rem;
    margin-right: 3rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li p {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-bottom: 0.2rem solid transparent;
    transition: 0.2s;
}

.main-nav li p:hover {
    color: #BF4E22;
}

.logo {
    display: inline-block;
    padding: 2rem;
    color: #ffffff;
    font-size: 2rem;
}

/* ----------------------------------------------- */
/* ABOUT US */
/* ----------------------------------------------- */

.section__about-us {
    padding: 8rem 0;
    background-color: rgba(218, 217, 214, 0.1);
    display: flex;
    justify-content: space-between;
}

.row-testimonials {
    display: flex;
    justify-content: space-between;
}

.about-us-text {
    padding: 0 4rem 0 0;
}

/* ----------------------------------------------- */
/* HOW IT WORKS */
/* ----------------------------------------------- */

.section__how-it-works {
    padding: 8rem 0;
}

/* ----------------------------------------------- */
/* WHY XPRESS */
/* ----------------------------------------------- */

.section__why-xpress {
    padding: 8rem 0;
    background-image: linear-gradient(rgba(218, 217, 214, 0.6), rgba(218, 217, 214, 0.6)), url("images/working.jpg");
    background-color: rgba(218, 217, 214, 0.1);
}

.user-testimonials {
    float: left;
    width: 100%;
}

.user-testimonials-box {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(218, 217, 214, 0.6);

}

.user-testimonials-photo {
    border-radius: 4rem;
    display: block;
    margin: 0.5rem auto;
}

.user-testimonials-box a{
    display: block;
    color: #BF4E22;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.user-testimonials-box a:hover{
    text-decoration: underline;
}

/* ----------------------------------------------- */
/* CONTACT */
/* ----------------------------------------------- */

.section__contact-us {
    padding: 8rem 0;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #262626;
    padding: 3rem;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
}

footer p, a {
    font-size: 0.8rem;
    color: #969696;
}